
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="login-heading mb-4 font-weight-bold">Reset your password</h1>
                <form>
                  <div class="formGroup">
                    <input type="email"  class="form-control" placeholder="Email Address" #passwordResetEmail required>
                  </div>
                  <br>
                  <div class="text-center">
                    <button class="btn btn-lg btn-danger btn-block btn-google text-uppercase font-weight-bold mb-2" type="submit" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="button" routerLink="/sign-in">Back to Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  