<mat-toolbar class="bg-toolbar">
  <button (click)="onClickNavToggle()"mat-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span *ngIf="!mobileQueryMax">Save me</span>
  <span class="flex-fill"></span>
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="authService.userData as user">
    <img class="avatar"src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
    <span class="ml-3">{{user.email}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span routerLink="/setting">Setting</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span (click)="authService.SignOut()">Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>