.icon{
    height: 3.5rem;
    width: 3.5rem;
}

th.mat-column-image,
td.mat-column-image{
    width: 180px;
}

th.mat-column-action,
td.mat-column-action{
    width: 150px;
}

th{
    text-transform: uppercase;
}

.over-lay{
    position: relative;
    width: 80px;
}

.over-lay-text{
    background-color: black;
    position: absolute;
    bottom:0;
    left: 0;
    color: #fff;
    opacity: 0.7;
    width: 100%;
}

.over-lay>img{
    height: 80px;
    object-fit: cover;
}

th.mat-cell{
    padding: 8px 0;
}

.table-hover tr:hover{
    background-color: #eae38e70;
}

@media (max-width: 600px){
    th.mat-header-cell:nth-child(2){
        min-width: 400px;
    }
    th.mat-header-cell:nth-child(2),
    td.mat-cell:nth-child(2),
    th.mat-header-cell:nth-child(3),
    th.mat-header-cell:nth-child(4){
        padding: 0 12px;
    }

    .search_form{
        flex-direction: column;
        align-items: stretch !important;
        margin: 12px 0;
    }

    .search_form>.mat-form-field{
        width: 100% !important;
        margin-bottom: 12px;
    }
}

::ng-deep th.mat-column-price>.mat-sort-header-container{
    justify-content: flex-end;
}

::ng-deep th.mat-column-image>.mat-sort-header-container,
::ng-deep th.mat-column-stock>.mat-sort-header-container{
    justify-content: center;
}

::ng-deep.mat-sort-header-sorted,
::ng-deep.mat-sort-header-arrow{
    color: skyblue;
}
.storage-space{
    width: 1170px;
    height: 800px;
    
}