<div class="mat-elevation-z8 mt-3 table-responsive">
    <div class="d-flex justify-content-between align-items-center p-3 search_form">
      <mat-form-field appearance="outline" class="w-50 ">
        <input [(ngModel)]="textSearch" (keyup)="search($event)" matInput placeholder="File Name">
        <mat-icon matSuffix *ngIf="!textSearch">search</mat-icon>
        <button (click)="clearSearch()" mat-icon-button matSuffix *ngIf="textSearch">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button class="btn-custom btn--green" *ngIf="authService.userData as user">
        <span class="text-upload">upload</span>
        <label for="fileUpload" class="label" >
          <input type="file" id="fileUpload" (change)="onFileUpload($event.target.files,user.uid,user.email)">
        </label>
      </button>
    </div>
  
    <mat-card class="space-storage" *ngIf="authService.userData as user">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="files$ | async as files; else loading">
              <div *ngFor="let file of files_ | filter:textSearch">
                  <div *ngIf="user.uid == file.userID">
                      <div class="bt-card">
                        <div class="card" style="width: 15rem;">
                          <img class="card-img-top" src="../../assets/image/document.png" alt="Card image cap">
                          <div class="card-body">
                            <div class="text-card">{{file.name}}</div>
                          </div>
                          <div class="card-body text-center">
                            <a class="card-link bt-download" [href]="file.url" download={{file.name}} target="_blank">download</a>
                            <a class="card-link bt-delete" (click)="openDelete(contentDelete)" target="_blank">delete</a>
                            <a class="card-link bt-shared" (click)="openVerticallyCentered(content)">shared</a>
                          </div>
                        <ng-template #contentDelete let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title">Delete:</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <div class="">
                                <h4 class="modal-title font-weight-bold">คุณต้องการที่จะลบ {{file.name}} หรือไม่</h4>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: #1D2D60; color: white;" data-dismiss="modal" (click)="modal.close('Close click')">No</button>
                            <button type="button" class="btn" style="background-color: #F65E5D; color: white;" (click)="delete(file.id,file.name,user.uid)" (click)="modal.close('Close click')">Yes</button>
                          </div>
                        </ng-template>
                       
                        
                        <ng-template #content let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title">Email:</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form>
                          <div class="modal-body">
                              <div class="">
                                <input type="text" class="form-control" name="email" #email required>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn" style="background-color: #F65E5D; color: white;" data-dismiss="modal" (click)="modal.close('Close click')">Close</button>
                            <button type="button" class="btn" style="background-color:#056CF2; color: white;" (click)="update(file.id, email.value, file.shared)" (click)="modal.close('Close click')">Send</button>
                          </div>
                        </form>
                        </ng-template>

                        
                    
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <ng-template #loading>loading...</ng-template>
          </div>
        </div>
      </div>
    </mat-card>
    