<div class="mat-elevation-z8 mt-3 table-responsive">
    <div class="d-flex justify-content-between align-items-center p-3 search_form">
      <mat-form-field appearance="outline" class="w-50 ">
        <mat-label>Search Files</mat-label>
        <input [(ngModel)]="textSearch" (keyup)="search($event)" matInput placeholder="File Name">
        <mat-icon matSuffix *ngIf="!textSearch">search</mat-icon>
        <button (click)="clearSearch()" mat-icon-button matSuffix *ngIf="textSearch">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button class="btn btn--green" *ngIf="authService.userData as user">
        <span class="text-upload">upload</span>
        <label for="fileUpload" class="label" >
          <input type="file" id="fileUpload" (change)="onFileUpload($event.target.files,user.uid)">
        </label>
        <div *ngIf="uploadPercentage$ | async as percentage">
          <div>uploading {{percentage}}%</div>
        </div>
      </button>
    </div>
  
    <mat-card class="space-storage" *ngIf="authService.userData as user">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="files$ | async as files; else loading">
              <div *ngFor="let file of files_">
                  <div *ngIf="user.uid == file.userID">
                    <div class="card card-content">
                      <div class="text-card">{{file.name}}</div>
                      <div class="bt-card">
                        <a class="bt-download" [href]="file.url" download={{file.name}} target="_blank">download</a>
                        <a class="bt-delete" (click)="delete(file.id,file.name,user.uid)" target="_blank">delete</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <ng-template #loading>loading...</ng-template>
          </div>
        </div>
      </div>
    </mat-card>
    