.saveme-icon{
    width : 100px; 
    height : 100px; 
    margin-left : 50px;
    margin-top : 10px;
}

.mat-list-base[dense] .mat-list-avatar, .mat-list-base[dense] .mat-list-option .mat-list-avatar{
    border-radius: 0%;
}

.mat-list-item:hover{
    background-color: #E8E4E4
}

.mat-list-item:focus{
    background-color: #D8D4D4
}

.footer-mat-list{
    margin-top: 200px;
}

.mat-divider.test{
    padding: 50px;
}

.mat-list-avatar{
    margin-left: 10px;
    width: 180px;
    height: 200px;
}