
<img class="saveme-icon"
  src="https://image.flaticon.com/icons/svg/3427/3427077.svg"
  alt="">
<mat-nav-list dense class="mt-5">
  <a mat-list-item href="http://www.google.com">
    <img class="saveme-menu" matListAvatar src="https://www.flaticon.com/svg/static/icons/svg/94/94719.svg" alt="">
    <span mat-line><span class="mat-h4">All Files</span></span>
  </a>
  <a mat-list-item class="mt-3" href="http://www.google.com">
    <span mat-line><span class="mat-h4">Shared Files</span></span>
    <img class="saveme-menu" matListAvatar src="https://www.flaticon.com/svg/static/icons/svg/833/833270.svg" alt="">
  </a>
  <mat-divider class="mt-4"></mat-divider>
    <h3 matSubheader>Memory</h3>
  <a mat-list-item href="http://www.google.com">
    <span mat-line><span class="mat-h4">Upgrade</span></span>
    <img class="saveme-menu" matListAvatar src="https://www.flaticon.com/svg/static/icons/svg/962/962800.svg" alt="">
  </a>
</mat-nav-list>
