
<img class="saveme-icon"
  src="https://image.flaticon.com/icons/svg/3427/3427077.svg"
  alt="">
  <mat-divider class="mt-5"></mat-divider>
<mat-nav-list dense class="mt-5">
  <a mat-list-item routerLink="/dashboard" class="focus-a">
    <img class="saveme-menu" routerLink="/dashboard" matListAvatar src="https://www.flaticon.com/svg/static/icons/svg/94/94719.svg" alt="">
    <span mat-line><span class="mat-h4" routerLink="/dashboard">All Files</span></span>
  </a>
  <mat-divider class="mt-4 mb-4"></mat-divider>
  <a mat-list-item class="mt-3" routerLink="/shared" class="focus-a">
    <span mat-line><span class="mat-h4"  routerLink="/shared">Shared Files</span></span>
    <img class="saveme-menu" matListAvatar  routerLink="/shared" src="https://www.flaticon.com/svg/static/icons/svg/833/833270.svg" alt="">
  </a>
  
</mat-nav-list>
